/build-BowlingScoreBoard-Desktop-Debug/
/debug/
/release/
/CMakeCache.txt
/CMakeLists.txt.user
/Makefile
/Makefile.Debug
/Makefile.Release
/ui_BSB_GameStepWidget.h
/ui_BSB_MainWindow.h
*.pro.user
/BSB_MainWindow.o
/BSB_UdpListener.o
/main.o
/moc_BSB_MainWindow.cpp
/moc_BSB_MainWindow.o
/moc_BSB_UdpListener.cpp
/moc_BSB_UdpListener.o
/moc_predefs.h
/.qmake.stash
/BowlingScoreBoard
BSB_Controller.o
/moc_BSB_Controller.cpp
/moc_BSB_Controller.o
/build/
